
#(layout-set-staff-size {{ staff_size }})

indent = 0

{%- if ragged_right -%}
ragged-right = ##t
{%- endif -%}

{%- if ragged_last -%}
ragged-last = ##t
{%- endif -%}

\context {
  \Score
  \omit BarLine
  % DEACTIVATED: Remove all-rest staves also in the first system
  % \override VerticalAxisGroup.remove-first = ##t
  % If only one non-empty staff in a system exists, still print the starting bar
  \override SystemStartBar.collapse-height = #1
  % Avoid bar lines from time signatures of other staff groups
  % (move them to Staff context).
  % Allow breaks between bar lines
  % (this is important because we have)
  % (only very few bar lines).
  forbidBreakBetweenBarLines = ##f
  % Arpeggi across staves
  \consists "Span_arpeggio_engraver"
  % PROPORTIONAL NOTATION!!
  proportionalNotationDuration = #(ly:make-moment 1/{{ moment }})
  \override SpacingSpanner.uniform-stretching = ##t
  % Deactivate: leads to unequal results (maybe only useful in
  % combination with 'strict-note-spacing'? But activating this
  % completely breaks clock scores..)
  \override SpacingSpanner.strict-grace-spacing = ##{%- if strict_grace_spanning -%}t{%- else -%}f{%- endif -%}

  \override Beam.breakable = ##t
  \override Glissando.breakable = ##t
  \override TextSpanner.breakable = ##t
  \override PaperColumn.used = ##t
  {% if move_timing_translator %}
  \remove "Timing_translator"
  {% endif %}
  \override BarNumber.break-visibility = #all-invisible
  connectArpeggios = ##t
  % We need clefs AFTER bar lines, not before them
  %     https://www.mail-archive.com/lilypond-user@gnu.org/msg125397.html
  \override BreakAlignment.break-align-orders = #(make-vector 3 '(staff-bar clef))
  % We don't want to see a single bar line at the end of a line.
  % We need to set the default bar line (glyph-name), otherwise we'll
  % catch an exception.
  \override BarLine.glyph-name = "|"
  \override BarLine.break-visibility = #end-of-line-invisible
}

\context {
  \StaffGroup
  \omit BarLine

  \override StaffGrouper.staff-staff-spacing.basic-distance = #1
  \override StaffGrouper.staff-staff-spacing.minimum-distance = #1
  \override StaffGrouper.staff-staff-spacing.padding = #1
  \override StaffGrouper.staff-staff-spacing.stretchability = #0

  \override StaffGrouper.staffgroup-staff-spacing.basic-distance = #{{ staff_staff_spacing_basic_distance }}
  \override StaffGrouper.staffgroup-staff-spacing.minimum-distance = #{{ staff_staff_spacing_minimum_distance }}
  \override StaffGrouper.staffgroup-staff-spacing.padding = #{{ staff_staff_spacing_padding }}
  \override StaffGrouper.staffgroup-staff-spacing.stretchability = #{{ staff_staff_spacing_stretchability }}
}

\context {
  \Staff
  \omit BarLine
  \omit TimeSignature
  {% if move_timing_translator %}
  \consists "Timing_translator"
  {% endif %}
  \remove "Separating_line_group_engraver"
  {% if remove_empty_staves %}
  \RemoveEmptyStaves
  {% endif %}
  \override BarLine.allow-span-bar = ##f
  \override Clef.break-visibility = #all-invisible
  % We don't want to see cautionary clefs in the line before
  % a new event placed.
  % https://lists.gnu.org/archive/html/lilypond-user/2019-05/msg00124.html
  explicitClefVisibility = #end-of-line-invisible
}

\context {
  \Voice
  % Allow line breaks with tied notes
  \remove Forbid_line_break_engraver
}
